/**
 * Configuration symbols in in cojson::config
 * Symbol 		| Values		| When specified...
 * -------------+---------------+-----------------------------------------------
 * overflow 	| saturate		| numbers are saturated on overflow
 * 				| error			| overflow causes an error
 * 				| ignore		| overflow condition silently ignored
 * -------------+---------------+-----------------------------------------------
 * mismatch		| skip			| reader makes best efforts to skip such values
 * 				| error			| any mismatch in size or data type
 * 				|			  	| is treated as an error
 * -------------+---------------+-----------------------------------------------
 * null			| skip			| skip nulls by default
 * 				| error			| default handling for null is an error
 * -------------+---------------+-----------------------------------------------
 * iostate		| _notvirtual	| stream's error method are not virtual
 * 				| _virtual		| stream's error method are virtual,
 * 				|				| needed if a class implements both
 * 				|				| cojson::istream and cojson::ostream
 * -------------+---------------+-----------------------------------------------
 * temporary	| _static		| temporary buffer is implemented static
 * 				| _automatic	| temporary buffer is implemented automatic
 * -------------+---------------+-----------------------------------------------
 * temporary_size				| overrides temporary buffer size
 * -------------+---------------+-----------------------------------------------
 */

/** use of wchar_t 													*/

//typedef wchar_t char_t;

/** controls where the constant strings are retrieved from
 *  uncomment to enable use of AVR progmemory
 *	Note! This option for AVR only, all strings are expected to be
 *	properly placed in progmem with __attribute__((progmem))		*/
//static constexpr cstring_is cstring = cstring_is::avr_progmem;

/** controls behavior on integral overflow 							*/
//static constexpr auto overflow 	= overflow_is::error;

/** controls implementation of iostate::error						*/
//static constexpr auto iostate 	= iostate_is::_notvirtual;

/** controls behavior on read encountered element mismatching
 *	targed data type												*/
//static constexpr auto mismatch 	= mismatch_is::error;

/** controls default null handling.									*/
//static constexpr auto null = null_is::error;

/** controls implementation of temporary buffer, used for reading
 * 	names and writing floating data types							*/
//static constexpr auto temporary = temporary_is::_static;

/** controls size of temporary buffer								*/
//static constexpr unsigned temporary_size = 32;
