/** When set to true, response status message is not written,
 *  only status code is  */
//static constexpr bool empty_status_message = false;

/** When set to true, POST is handled as sequence of PUT and GET */
//static constexpr bool handle_post_as_put_get = true;

/** When set to true, node gets extra virtual methods: post, del
 * for handling HTTP POST and DELETE 							*/
//static constexpr bool extended_node = false;

/** When set to true, requests started with HTTP/0.1
 * will fail with error if contain unsupported header.
 * in other cases unsupported headers are ignored  				*/
//static constexpr bool strict_http01 = false;

/** identity_t data type used for non-statically named resources */
//typedef uint32_t identity_t;

/** sets size of ETag */
//static constexpr size_t etag_size = 16;
